 @charset "UTF-8";
/**
 *
 * @authors Marte (iqianduan@126.com)
 * @date    2016-10-03 13:34:58
 * @version $Id$
 */
*{
    margin: 0;
    padding: 0;
}
img{
    border:0;
}
ol, ul ,li{list-style: none;}

a{
    text-decoration: none;
}

body{
    background-color:#f0f0f0;
}
/* --------------头部--------------------- */
.top{
    height: 182px;
    width: 100%;
    min-width: 1000px;
    background-image:url(../img/top-bg.png);
    background-color: red;
}

 .top-cen{
    width:1000px;
    height:182px;
    margin: 0 auto;
    background-image: url(../img/top-cen-bg.png);
}
.top-ul{
    margin-left: 60px;
    margin-top:10px;
    font-size: 15px;
}
.top-ul li{
    float: left;
    margin-left:38px;
    text-align: right;
}
.top-ul li a{
    color:#000;
}
.top-ul p{
    color: #b3b3b3;
}
.top-ul li a:hover{
    color:red;
}
.top-ul li:hover p{
    color:#000;
}

/* ----------------胸部 ---------------*/
.xiongbu{
    width:100%;
    min-width:1000px;
    height:525px;
    background-image:url(../img/datu1.png);
    background-repeat:no-repeat;
    background-position:0 0;
    background-size:cover;
    position:relative;
}
.xiongbu-ann{
    width:1000px;
    height:34px;
    position: absolute;
    bottom: 0px;
    left:50%;
    margin-left:-500px;
}
.xiongbu-ann>div{
    float: left;
}
.ann-1{
    width:57px;
    height:34px;
    background-image: url(../img/arr.png);
    background-position:0 0;
}
.ann-1:hover{
    background-image:url(../img/arr.png);
    background-position:0px -34px;
}
.ann-2{
    width:211px;
    height:34px;
    /* background-color:red; */
    margin-left:8px;
    background-image:url(../img/ann-2.png);
}
.ann-2:hover{
    background-image:url(../img/ann-1.png);
}
.ann-3{
    width:211px;
    height:34px;
    background-color:#fff;
    margin-left:8px;
    background-image:url(../img/ann-2.png);
}
.ann-3:hover{
    background-image:url(../img/ann-1.png);
}
.ann-4{
    width:211px;
    height:34px;
    background-color:yellow;
    margin-left:9px;
    background-image:url(../img/ann-2.png);
}
.ann-4:hover{
    background-image:url(../img/ann-1.png);
}
.ann-5{
    width:211px;
    height:34px;
    background-color:red;
    margin-left:8px;
    background-image:url(../img/ann-2.png);
}
.ann-5:hover{
    background-image:url(../img/ann-1.png);
}
.ann-6{
    width:57px;
    height:34px;
    /* background-color:yellow; */
    margin-left:8px;
    background-image: url(../img/arr.png);
    background-position:-57px 0;
}
.ann-6:hover{
    background-position:-57px -34px;
}

/* --------------腹部----------------------- */
.fubu{
    width:1000px;
    height:98px;
    position:relative;
    /* margin-top:2px; */
    margin: 2px auto;
}
.fubu>div{
    float: left;
}
.zaixian-1{
    width:260px;
    height:98px;
}
.zaixian-2{
    width:188px;
    height:98px;
    margin-left:2px;
}
.zaixian-3{
    width:184px;
    height:98px;
    margin-left:1px;
    background-image:url(../img/lianjie-3.gif)
}
.zaixian-4{
    width:363px;
    height: 98px;
    margin-left:1px;
}


/* ----------------腰部 ----------------------*/

.yaobu{
    width:980px;
    height:1195px;
    background-color:#fff;
    margin:12px auto;
    padding-left:20px;
    padding-top:15px;
}
.yaobu-top{
    width:291px;
    height:18px;
}
.yaobu-top span{
    font-size:14px;
    font-weight:bold;
}
.yaobu-top a{
    font-size:12px;
    color:#000;
}
.yaobu>div{
    float: left;
}

.yaobu-zuo{
    width:291px;
    height:1165px;
}
.yaobu-zuo-logo1{
    width:291px;
    height:63px;
    background-image:url(../img/t12.gif);
    margin-top:10px;
}
.yaobu-zuo-tiao{
    width:251px;
    height:33px;
    background-image:url(../img/libg16.gif);
    margin-top:10px;
    padding-left:40px;
    line-height:33px;
}
.yaobu-zuo-tiao p{
    color:#fff;
    font-size:14px;
    font-weight:bold;
}

.yaobu-zuo-ul1{
    width:291px;
    height:170px;
    padding-top:30px;
}
.yaobu-zuo-ul1 ul li{
    height:25px;
    text-align:center;
    line-height:15px;
}
.yaobu-zuo-ul1 ul li a{
    color:#000;
    font-size:14px;
}
.yaobu-zuo-ul1 ul li:hover a{
    color:red;
}
.yaobu-zuo-ul2{
    width:291px;
    height:33px;
    margin-top:15px;
}
.yaobu-zuo-ul2>div{
    float: left;
}
.ul1-1{
    width:27px;
    height:33px;
    background-image:url(../img/libg10.gif);
}
.ul1-2{
    width:291px;
    height:33px;
    background-color:#bcbcbc;
    line-height:33px;
    color:#5d5d5d;
}
.ul1-2 span{
    margin-left:20px;
}
.yaobu-zuo-ul2:hover .ul1-2{
    background-color:red;
    color:#000;
}
.yaobu-zuo-logo2{
    width:291px;
    height:40px;
    background-image:url(../img/t4.gif);
    margin-top:30px;
}
.yaobu-zuo-ul3{
    width:291px;
    height:275px;
}
.yaobu-zuo-ul3>ul li{
    height:50px;
    border-bottom: 2px dashed #b3b3b3;
    font-size:13px;
    line-height:20px;
    padding-top:10px;
    padding-left: 5px;
    color:#000;
}
.yaobu-zuo-ul3>ul li:hover{
    color:red;
    height:80px;
}
.yaobu-zuo-ul3>ul a li:hover>div{
    float: left;
}
.yaobu-zuo-ul3>ul li:hover .ul3-1{
    width:70px;
    height:70px;
    background-image:url(../img/haoshu-2.png);
    font-size:30px;
    text-align:center;
    line-height:40px;
    font-weight:bold;
}
.yaobu-zuo-ul3>ul li:hover .ul3-2{
    width:70px;
    height:70px;
    background-image:url(../img/haoshu-3.png);
    font-size:30px;
    text-align:center;
    line-height:40px;
    font-weight:bold;
}
.yaobu-zuo-ul3>ul li:hover .ul3-3{
    width:70px;
    height:70px;
    background-image:url(../img/haoshu-4.png);
    font-size:30px;
    text-align:center;
    line-height:40px;
    font-weight:bold;
}
.yaobu-zuo-ul3>ul li:hover .ul3-4{
    width:70px;
    height:70px;
    background-image:url(../img/haoshu-5.png);
    font-size:30px;
    text-align:center;
    line-height:40px;
    font-weight:bold;
}
.yaobu-zuo-ul3>ul li:hover .ul3-1-2{
    margin-top:15px;
    margin-left:10px;
}
.yaobu-zuo-logo3{
    width:291px;
    height:40px;
    background-image:url(../img/t6.gif);
    margin-top:30px;
}
.yaobu-zuo-ul4{
    width:291px;
    height:242px;
    margin-top:25px;
}
.yaobu-zuo-ul4>ul a li{
    height:71px;
    margin-top:1px;
}
.yaobu-zuo-ul4 ul a li>div{
    float: left;
    font-size:13px;
}
.ul4-1-1{
    width:138px;
    height:71px;
    color:#4f4f4f;
}
.ul4-1-2{
    width:12px;
    height:24px;
    background-image:url(../img/libg8.gif);
    margin-top:23px;
}
.ul4-1-3{
    width:141px;
    height:71px;
    background-image:url(../img/libg14.gif);
    background-position:0 -71px;
    position:relative;
    color:#000;
}
.ul4-1-3 p{
    font-size:25px;
    position:absolute;
    top:28px;
    left:20px;
    color:#7b7b7b;
}
.yaobu-zuo-ul4 ul a li:hover .ul4-1-1{
    color:red;
}
.yaobu-zuo-ul4 ul a li:hover .ul4-1-2{
    background-position:0 -24px;
}
.yaobu-zuo-ul4 ul a li:hover .ul4-1-3{
    background-position:0 0;
    color:#dcdcdc;
}
.yaobu-zuo-ul4 ul a li:hover .ul4-1-3 p{
    color:#dcdcdc;
}
.yaobu-you{
    width:665px;
    height:1170px;
    margin-top:25px;
    margin-left:20px;
}
.yaobu-you-nr{
    width:665px;
    height:1098px;
}
.yaobu-you-nr>div{
    float: left;
    margin-left:10px;
    margin-top:5px;
}
.nr-1{
    width:319px;
    height:360px;
    position:relative;
    transition:1s;
}
.nr-1-nr{
    width:319px;
    height:30px;
    background-color:#c8c8c8;
    margin-top:50px;
    line-height:30px;
    position:relative;
}
.nr-1-nr span{
    font-size:13px;
    position:absolute;
    left:10px;
    color:#000;
}
/* 添加蒙版 */
.mengban{
    position:absolute;
    width:20px;
    height: 30px;
    right:5px;
    padding-left:10px;
    color:#000;
}
.nr-1:hover .nr-1-nr{
    background-color:#FFD200;
}
.nr-1:hover .mengban{
    color:red;
    font-size:25px;
}
.nr-1-nr1 p{
    position:absolute;
    right:5px;
    bottom:20px;
    font-size:13px;
    color:#000;
}
.nr-1-nr1 span{
    margin-left:10px;
    font-size:13px;
    color:#000;
}
.nr-1:hover .nr-1-nr span{
    color:red;
}
.nr-1:hover .nr-1-nr1 span,.nr-1:hover .nr-1-nr1 p{
    color:red;
}
.nr-1:hover{
    -webkit-transform: translate(0px, -10px);
           -moz-transform: translate(0px, -10px);
            -ms-transform: translate(0px, -10px);
             -o-transform: translate(0px, -10px);
                transform: translate(0px, -10px);
}



/* ---------------大腿--------------------------- */
.datui{
    width:100%;
    min-width:1000px;
    height:250px;
    background-image:url(../img/oo_03.png);
    position:relative;
    margin-top:12px;
}
.datui-cen{
    width:1000px;
    height:250px;
    position:relative;
    margin:0 auto;
}
.datui-cen>div{
    float: left;
    width:162px;
    height:240px;
    margin-top:10px;
}
.datui-cen>div ul li{
    list-style-type:disc;
    list-style-position:inside;
    color:#979797;
}
.datui-cen>div ul li a{
    font-size:13px;
    color:#979797;
}
#cen-logo{
    width:300px;
    height:240px;
    margin-left:10px;
    background-image:url(../img/logo-5.png);
    color:#979797;
    font-size:13px;
    position:relative;
}
#cen-logo p{
    position:absolute;
    top:136px;
    left:132px;
}
#cen-logo span{
    position:absolute;
    top:174px;
    left:132px;
}
.cen-1{
    margin-left:12px;
}
.cen-2{
    margin-left:10px;
}
.cen-3{
    margin-left:10px;
}
.cen-4{
    margin-left:10px;
}
.cen-1-1{
    width:162px;
    height:120px;
}
.cen-1-1-1{
    width:162px;
    height:24px;
    background-image:url(../img/bottom_02.gif)
}
.cen-1-2{
    width:162px;
    height:120px;
}
.cen-2-1{
    width:162px;
    height:120px;
}
.cen-2-2{
    width:162px;
    height:120px;
}
.cen-1-1>ul{
    margin-top:5px;
}
.cen-2-1>ul{
    margin-top:5px;
}
.cen-3>ul{
    margin-top:5px;
}
.cen-4>ul{
    margin-top:5px;
}
.cen-1-1>ul li{
    width:152px;
    height:22px;
    padding-left:10px;
}
.cen-1-1>ul li a{
    color:#fff;
}

.datui-cen>div>div:hover .cen-1-1-1{
    background-image:url(../img/bottom_01.gif);
}

.cen-3:hover .cen-1-1-1{
   background-image:url(../img/bottom_01.gif) ;
}
.cen-4:hover .cen-1-1-1{
   background-image:url(../img/bottom_01.gif) ;
}
.ul-1-1:hover{
    background-color:#676767;
}
.ul-1-2:hover{
    background-color:#676767;
}
.ul-1-3:hover{
    background-color:#676767;
}
.ul-1-4:hover{
    background-color:#676767;
}
.cen-1-2>ul li{
    width:152px;
    height:22px;
    padding-left:10px;
}
.cen-1-2>ul li a{
    color:#fff;
}
.cen-2-1>ul li{
    width:152px;
    height:22px;
    padding-left:10px;
}
.cen-2-1>ul li a{
    color:#fff;
}
.cen-2-2>ul li{
    width:152px;
    height:22px;
    padding-left:10px;
}
.cen-2-2>ul li a{
    color:#fff;
}
.cen-3>ul li{
    width:152px;
    height:22px;
    padding-left:10px;
}
.cen-3>ul li a{
    color:#fff;
}
.cen-4>ul li{
    width:152px;
    height:22px;
    padding-left:10px;
}
.cen-4>ul li a{
    color:#fff;
}


/* --------------------小腿----------------------- */

.xiaotui{
    width:100%;
    min-width:1000px;
    height:112px;
    background-image:url(../img/06.png);
    background-repeat:no-repeat;
    background-position:0 0;
    background-size:cover;
}
.xiaotui-cen{
    width:570px;
    height:112px;
    margin:0 auto;
    background-image:url(../img/03.png);
}

.xiaotui2{
    width:100%;
    min-width:1000px;
    height:68px;
    background-color:#1f1f1f;
}
.xiaotui2-cen{
    width:980px;
    height:58px;
    margin:0 auto;
    font-size:12px;
    padding-top:10px;
    padding-left:20px;
    line-height:24px;
    color:#7f7f7f;
}


/* ---------------------脚 ---------------------------------*/

.jiao{
    width:100%;
    min-width:1000px;
    height:110px;
    background-color:#000;
    background-repeat:no-repeat;
    background-position:0 0;
    background-size:cover;
}
.jiao-cen{
    width:1000px;
    height:110px;
    margin:0 auto;
    position:relative;
}
.jiao-cen span{
    font-size:14px;
    position:absolute;
    top:30px;
    left:25px;
    color:#fff;
}
.jiao-cen p{
    position:absolute;
    top:28px;
    left:100px;
}
.jiao-cen p a{
    color:#fff;
    font-size:14px;
}
.jiao-cen p:hover a{
    color:red;
}